$accentColor = #4172c8;
$codeBgColor = #020202;
$textColor = #f1f1f1;

.nav-links {
	.nav-item {
		text-transform: capitalize;
	}
}

// search input reveal only on focus
.navbar {
	.search-box {
		margin-left: 1rem;
		margin-right: 0;

		input {
			cursor: pointer;
			width: 0;
			border-color: transparent;
			position: relative;

			&:focus {
				cursor: text;
				border-color: $borderColor;
				left: 0;
				width: 10rem;
			}
		}

		.suggestions {
			right: 0 !important;
		}
	}
}
