body
  font-family: 'Roboto Mono', monospace

.home
  .hero
    .description
      font-size: 1.4rem
      color: #3A5173

// hide github nav link
.repo-link
  display none !important

.nav-links
  .nav-item
    text-transform: capitalize

.custom-layout
  .home
    padding-top: 0

// search input reveal only on focus
.search-box
  margin-left 1rem
  margin-right 0
  input
    cursor pointer
    width 0
    border-color transparent
    position relative

    &:focus
      cursor text
      left 0
      width 10rem

// put the search input at the edge
.links
	flex-direction row
  padding-right 1.5rem
  padding-left: 0
	:nth-child(1)
		order 2

@media (max-width: 419px)
  .mobile-hide
    display none !important
