body {
	font-family: 'Roboto Mono', monospace;
}

body, .navbar, .navbar .links, .sidebar, .search-box input, .navbar .search-box .suggestions {
	background-color: #012456;
}

.home {
	.hero {
		.description {
			font-size: 1.4rem;
			color: #3A5173;
		}
	}
}

// hide github nav link
.repo-link {
	display: none !important;
}

.custom-layout {
	.home {
		padding-top: 0;
	}
}

// put the search input at the edge
.links {
	flex-direction: row;
	padding-right: 1.5rem;
	padding-left: 0;

	:nth-child(1) {
		order: 2;
	}
}

.text-accent {
	color: $accentColor;
}

@media (max-width: 419px) {
	.mobile-hide {
		display: none !important;
	}
}

tr {
	&:nth-child(2n) {
		background-color: #012567 !important;
	}
}

.custom-block {
	&.tip, &.warning, &.danger {
		background-color: #012567;
		p;
		color: #f1f1f1;
	}
}
